In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
train=pd.read_csv('train.csv')
train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [3]:
test=pd.read_csv('test.csv')
test

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,MORTGAGE,2.0,DEBTCONSOLIDATION,B,3000,10.37,0.10,N,4
39094,97739,22,48000,MORTGAGE,6.0,EDUCATION,A,7000,6.03,0.15,N,3
39095,97740,51,60000,MORTGAGE,0.0,PERSONAL,A,15000,7.51,0.25,N,25
39096,97741,22,36000,MORTGAGE,4.0,PERSONAL,D,14000,15.62,0.39,Y,4
39097,97742,31,45000,RENT,6.0,DEBTCONSOLIDATION,B,19450,9.91,0.44,N,9

In [9]:
from sklearn.preprocessing import LabelEncoder
#for train data

le_th=LabelEncoder() #for home ownership
le_ti=LabelEncoder() #for loan intent
le_tg=LabelEncoder() #for loan grade
le_td=LabelEncoder() #for person on default file
train['owner']=le_th.fit_transform(train['person_home_ownership'])
train['intent']=le_ti.fit_transform(train['loan_intent'])
train['grade']=le_tg.fit_transform(train['loan_grade'])
train['default']=le_td.fit_transform(train['cb_person_default_on_file'])

#for test data
le_tth=LabelEncoder() #for home ownership
le_tti=LabelEncoder() #for loan intent
le_ttg=LabelEncoder() #for loan grade
le_ttd=LabelEncoder() #for person on default file
test['owner']=le_tth.fit_transform(test['person_home_ownership'])
test['intent']=le_tti.fit_transform(test['loan_intent'])
test['grade']=le_ttg.fit_transform(test['loan_grade'])
test['default']=le_ttd.fit_transform(test['cb_person_default_on_file'])

In [10]:
#Dropping columns not required anymore
target=train['loan_status']
train=train.drop(['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file','loan_status'],axis='columns')
test=test.drop(['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file'],axis='columns')

In [13]:
#Findng any NA values
print('TRAIN: \n',train.isna().any())
print('\n TEST: \n',test.isna().any())

TRAIN:
 id                            False
person_age                    False
person_income                 False
person_emp_length             False
loan_amnt                     False
loan_int_rate                 False
loan_percent_income           False
cb_person_cred_hist_length    False
owner                         False
intent                        False
grade                         False
default                       False
dtype: bool

 TEST:
 id                            False
person_age                    False
person_income                 False
person_emp_length             False
loan_amnt                     False
loan_int_rate                 False
loan_percent_income           False
cb_person_cred_hist_length    False
owner                         False
intent                        False
grade                         False
default                       False
dtype: bool

In [22]:
#Finding model through hyperparametre tuning
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

model_params={
    'RandomForest':{
        'model': RandomForestClassifier(),
        'params':{
            'n_estimators': [2,4,6,8]
        }
    },

    'LogisticRegression':{
        'model': LogisticRegression(solver='liblinear'),
        'params':{
            'C': [2,4,6,8]
        }
    },

    'GaussianNB':{
       'model': GaussianNB(),
        'params':{
            'var_smoothing': np.logspace(0,-9, num=100)

        }
    },

    'MultinomialNB':{
        'model': MultinomialNB(),
        'params':{

        }
    },

    'DecisionTreeClassifier':{'model': DecisionTreeClassifier(),
        'params':{
            'criterion': ['gini','entropy']
        }
    }


}

In [23]:
from sklearn.model_selection import GridSearchCV
scores=[]
for mn,mp in model_params.items():
  print(mn)
  print(mp)
  clf= GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
  clf.fit(train,target)
  scores.append({
      'model':mn,
      'best_params':clf.best_params_,
      'best_score':clf.best_score_
  })
  df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

RandomForest
{'model': RandomForestClassifier(), 'params': {'n_estimators': [2, 4, 6, 8]}}
LogisticRegression
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [2, 4, 6, 8]}}
GaussianNB
{'model': GaussianNB(), 'params': {'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.31012970e-02, 1.87381742e-02,
       1.51991108e-02, 1.23284674e-02, 1.00000000e-02, 8.11130831e-03,
       6.57933225e-03, 5.33669923e-03, 4.32876128e-03, 3.51119173e-03,
       2.84803587e-03, 2.31012970e-03, 1.87381742e-03, 1.51991108e-03,
       1.23284674e-03, 1.00000000e-03, 8.11130831e-04, 6.57933225e-04,
       5.33669923e-04, 4.32876128e-04, 3.51119173e-04, 2.84803587e-04,
       2.31012970e-04, 1.87381742e-04, 1.51991108e-04, 1.23284674e-04,
       1.00000000e-04, 8.11130831e-05, 6.57933225e-05, 5.33669923e-05,
       4.32876128e-05, 3.51119173e-05, 2.84803587e-05, 2.31012970e-05,
       1.87381742e-05, 1.51991108e-05, 1.23284674e-05, 1.00000000e-05,
       8.11130831e-06, 6.57933225e-06, 5.33669923e-06, 4.32876128e-06,
       3.51119173e-06, 2.84803587e-06, 2.31012970e-06, 1.87381742e-06,
       1.51991108e-06, 1.23284674e-06, 1.00000000e-06, 8.11130831e-07,
       6.57933225e-07, 5.33669923e-07, 4.32876128e-07, 3.51119173e-07,
       2.84803587e-07, 2.31012970e-07, 1.87381742e-07, 1.51991108e-07,
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])}}
MultinomialNB
{'model': MultinomialNB(), 'params': {}}
DecisionTreeClassifier
{'model': DecisionTreeClassifier(), 'params': {'criterion': ['gini', 'entropy']}}

,model,best_score,best_params
0,RandomForest,0.918476,{'n_estimators': 2}
1,LogisticRegression,0.869622,{'C': 2}
2,GaussianNB,0.885924,{'var_smoothing': 1.873817422860387e-09}
3,MultinomialNB,0.609907,{}
4,DecisionTreeClassifier,0.879274,{'criterion': 'entropy'}

In [26]:
model=RandomForestClassifier(n_estimators=2)
model.fit(train,target)
model.score(train,target)

0.9698013470884134

In [27]:
y_pred= model.predict(test)

In [29]:
final=pd.DataFrame()
final['id']=test['id']
final['loan_status']=y_pred
final

          id  loan_status
0      58645            0
1      58646            0
2      58647            0
3      58648            0
4      58649            0
...      ...          ...
39093  97738            0
39094  97739            0
39095  97740            0
39096  97741            0
39097  97742            1

[39098 rows x 2 columns]

In [30]:
final.to_csv('loan_approval.csv')